<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, itaque vero quas vel odio vitae voluptatibus autem, soluta id eos exercitationem aut, facilis sequi adipisci illum? Accusantium, ex. Laudantium, minus.
</body>
</html>