<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body>
    <div class="flex flex-wrap">

        <% for( let index=0; index < userDetails.length; index++ ) { %>
    
            <div class="p-4 md:w-1/4">
                <div
                    class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                    <div class="p-6">
                        <h1 class="title-font text-2xl font-medium text-gray-900 mb-3"><%= userDetails[index].firstName %></h1>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><%= userDetails[index].lastName %></h1>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3"> <%= userDetails[index].matricNumber %></h1>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3"> <%= userDetails[index].email %></h1>
                        <div class="flex gap-2 items-center flex-wrap">
                            <button
                                class="text-white bg-red-600 font-medium border-0 py-2 px-8 focus:outline-none hover:bg-red-800 rounded text-lg"
                                type="submit">
                                Delete
                            </button>
                            <button
                                class="text-white bg-yellow-500 font-medium border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg"
                                type="submit">
                                Edit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
    </div>
</body>
</html>